@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Press Start 2P", cursive;
}
body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, rgb(170, 78, 2));
    min-height: 100vh;
  }
  
  main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
  }
  
  .pokedex {
    width: 100%;
    max-width: 425px;
  }
  .pokemon_description{
    position: absolute;
    bottom: 55%;
    font-size:1.7vh;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 21%;
  }
  .pokemon__image {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 21%;
  }
  .pokemon__type{
    position: absolute;
    color: rgb(0, 0, 0);
    top: 1.9vh;
    right: 1.3vh;
    
  }
 
  .pokemon__type2{
    position: absolute;
    color: rgb(0, 0, 0);
    top: 3.9vh;
    right: 1.3vh;
  }
  .pokemon__data {
    position: absolute;
    font-weight: 600;
    color: rgb(7, 4, 4);
    top: 54.5%;
    right: 27%;
    
    font-size: clamp(8px, 0.7vw, 21.1vw);
  }
  
  .pokemon__name {
    color: #3a444d;
    text-transform: capitalize;
  }
  
  .form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
  }
  
  .input__search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
  }
  
  .buttons {
    position: absolute;
    bottom: 7vh;
    left: 32vh;
    width: 45vh;
    transform: translate(-57%, 0);
    display: flex;
    gap: 0.9vh;
  }
  
  .button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(1vh, 2vh, 2vh);
    font-weight: 600;
    color: #3a444d;
    background-color: rgb(245, 237, 237);;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
  }
  
  .button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
  }
  